.container-cart{

  .container-cart-list{
    .wrapper-item-desc{
      display: flex;
      flex-direction: row;
      column-gap: 12px;
      
      .wrapper-img{
        // border: 1px solid black;
        width: 70px;
        min-width: 70px;
        height: 70px;
        border-radius: 8px;
        overflow: hidden;
        padding: 4px;
  
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
  
      .item-desc{
        .price{
          font-weight: bold;
        }
      }
    }

    .wrapper-item-action{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      column-gap: 10px;

      .icon-remove{
        color: $ThirdaryColor;
        cursor: pointer;
      }
      
      .amount-action{
        display: flex;
        align-items: center;
        column-gap: 10px;

        .icon{
          color: $PrimaryColor;
          cursor: pointer;

          &.disabled{
            opacity: 0.5;
            color: $ThirdaryColor;
            cursor: not-allowed;
            pointer-events: none;

          }
        }

        .amount{
          font-size:14px;
          padding: 0px 14px;
          border-bottom: 1px solid black;
        }
      }
    }
  }

  .hr-lvl-1{
    height: 4px !important;
  }

  .hr-lvl-2{
    height: 2px !important;
  }

}