$PrimaryColor : #2893e1;
$PrimaryColorLight: #6dc3ff;
$PrimaryColorDark: #0066af;

$SecondaryColor: #673ab7;
$SecondaryColorLight: #9a67ea;
$SecondaryColorDark: #320b86;

$ThirdaryColor: #495057;
$ThirdaryColorLight: #757c84;
$ThirdaryColorDark: #21282e;